/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

/* font-family 'Amatic SC', cursive is common - if using an uncommon font, add a secondary as backup*/
nav {
    display: flex;
    font-family: 'Amatic SC', cursive;
    justify-content: space-around;
    background-color: rgb(119, 136, 153);
    color: rgb(255, 255, 255);
    flex-direction: row; 
    margin: 40px 0px;
    align-items: center;
    font-size: 30px;
}


li {
    text-align: left;
    display: flex;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    padding-left: 10%;
    padding-bottom: 10px;
    flex-wrap: wrap;
}


header {
    display: flex;
    font-family: 'Amatic SC', cursive;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 100px; 
}


.header-logo {
    display: flex;
    font-family: 'Amatic SC', cursive;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    align-items: center;
}


.headerimage {
    width: 120px;
}


footer {
    display: flex;
    justify-content: center;
    background-color: rgb(153, 153, 153);
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    position: fixed; 
    width: 100vw;
    bottom: 0;
}
   

.section-1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 70px;
    margin: 0 auto;
    font-family: 'Amatic SC', cursive;
}


.section-2 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 40px;
}
    

.headshots {
    display: flex;
    font-family: 'Amatic SC', cursive;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
}


.headshot {
    height: 250px;
    padding: 5px;
}


.name-border {
    border: thin;
    border-style: solid;
    display: flex;
    border-radius: 100%;
    font-size: 48px;
    font-family: 'Amatic SC', cursive;
    height: 250px;
    width: 250px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}


.name-row {
    display: flex;
    font-family: 'Amatic SC', cursive;
    font-size: 50px; 
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


h1 {
    display: flex;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 30px; 
    padding-top: 30px;
    padding-left: 10%;
    padding-bottom: 10px;
    flex-wrap: wrap;
}


/* tables are for data, never for page-style formatting */
table { 
    display: table;
    border-collapse: collapse;
    padding: 50px;
    border-spacing: 10px;
    margin: 0 10% 0 10%;
    font-size: 15px;
}


tr, th, td {
    border: 1px solid;
    padding: 10px;
    text-align: left;
}


.paragraph {
    display: flex;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px; 
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    flex-wrap: wrap;
}


.padding {
    padding-bottom: 10%
}

/* use a comma to format multiple elements */
/* keeps nav and footer white */
nav a, footer a {
 text-decoration: none; color: rgb(255,255,255);
}


/* yellow nav and footer hover */
nav a:hover, footer a:hover {
    color: rgb(255,255,0);
}

a {
    text-decoration: none;
    color: rgb(0,0,0);
}


a:hover {
    text-decoration: underline;
}


.name-row a {
    color: rgb(0,0,0);
    text-decoration: none;
}


.name-row a:hover {
    text-decoration: underline;
}


/*
a:focus {
   text-decoration: none; color: white
} */

/* if you want to change when visited, enter this text - or alter the css to comply, eg:
nav a:visited, footer a:visited {
text-decoration: none; color: white;
} */
